<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko -->

<tr class="totals savings excl">
    <th class="mark" scope="row">
        <span class="label" data-bind="text: title"></span>
        <span style="color: #00739B;font-family:Source Sans Pro;font-size: 20px !important;font-style: normal;font-weight: 700;" class="value" data-bind="text: getValue()"></span>
    </th>
    <td class="amount">
        <span style="color: #00739B;font-family:Source Sans Pro;font-size: 20px !important;font-style: normal;font-weight: 700;" class="price"
              data-bind="text: getValue(), attr: {'data-th': title}"></span>
    </td>
</tr>

<!-- /ko -->
